body 
{
  background-color: #719fb0;
  font-family: 'Poppins', sans-serif;
}
button
{
  display: none;
}
h1 
{
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
  color: #fd5f00;
  margin: 0;
}
#lg
{
    list-style-type: none;
}

li
{
  display: inline;
}

nav
{
  padding: 10px;
  font-size: 22.4px;
  font-family: "Montserrat-light";
  font-size-adjust: 20px;
  text-transform: uppercase;
  margin: 1.5em;
  padding: 1.5em;
  display: flex;
  justify-content:space-between;
  background-color: #212121;
}

ul li
{
  margin: 2.5vh;
  padding: 8px;
}

nav a:hover,
nav a:focus 
{
  color: #fd5f00;
}


nav a 
{
  text-decoration: none;
}
  
nav a:hover,
nav a:focus {
  color: #fd5f00;
}


img
{
  border-radius: 45%;
}

a span
{
  position: absolute;
  margin-top: 2vh;
  margin-left: 2vh;

}

header 
{

  padding: 0.8em 0;
  box-shadow: 2px 2px 10px #f1f6f9;
  font-size: 20px;
}

.contest
{
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  background-color: #f1f6f9;
}

#footer {
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.footer-icon 
{
  margin: 12px;
}
.copyright {
  padding-top: 20px;
}

.results
{
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  background-color: #f1f6f9;
}

.pastContest
{
  border: 2px solid black;
  margin: 20px;
  margin-right: 90px;
  padding: 20px;
  background-color: #f1f6f9;
}

.UpcomingContest
{
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  background-color: #f1f6f9;
}


@media (max-width: 700px) 
{
  .container 
  {
    text-align: center;
    background-color: #719fb0;
  }

  .container-nav 
  {
    flex-direction: column;
    background-color: #212121;
  }
  .evnt
  {
    padding-right: 30%;
    margin-top: 120%;
    padding: 50%;
  }

  h1
  {
    padding-top: 278px;
  }
  h2
  {
    margin-top: 350px;
  }
  form
  {
    margin-top: -30px;
  }
  .myBody
  {
    margin-left: 20px;
    border: 2px black;
  }

  .UpcomingContest
  {
    
  }
  .pastContest
  {
    padding: 0 28px;
  }

  nav 
  {
    display: grid;
    margin: 10vh;
  }


}


@media (max-width: 865px)
{
  header
  {

  }
}