* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    background-color: #EED6C4;
}

#section {
    padding: 0px;
}

.container-fluid {
    height: 10px;
    background-color: #212121;
    color: #fff;
    padding-top: 50px;
    padding-right: 5%;
    padding-bottom: 120px;
    padding-left: 15%;
  }

  .navbar {
    padding: 0 0 4.5rem;
  }
  
  .navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.4rem;
    font-family: "Montserrat-light";
  }


h1 {
    font-family: 'Baloo Bhai 2', cursive;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}


@media only screen and (max-width: 570px) {
    h1 {
        font-size: 30px;
    }
}

.codebeaker {
    border: 2px solid black;
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 0px;
}

.codebeaker p {
    margin-left: 10px;
    margin-right: 10px;
    padding: 25px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.row
{
    /* border: 2px solid orange; */
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;

}
.column
{
    width: 100%;
    /* border: 2px solid blue; */
    padding: 0.5em 0;
    /* margin: 15px 2px; */
    margin-top: 15px;
}

.card
{
    box-shadow: 0 0 0.2em black;
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    background-color: #FCF8E8;

}
.card .imgcontainer
{
    width: 8.5em;
    height: 8.5em;
    background-color: #AA96DA;
    /* padding: o.5em; */
    border-radius: 50%;
    margin: 0 auto 2em auto;
    padding-top: 7px;
    /* padding-left: px; */
    
}
.card img{
    /* width: 100%; */
    width: 7.6em;
    height: 7.6em;
    border-radius: 45%;
}

.card h3{
    font-weight: 800;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 30px;

}
.card p{
    font-weight: 400;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;

}

.icons
{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
.card a{
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
}
.card:hover{
    background: linear-gradient(#6045ea,#8567f7);
    color: white;

}
.card:hover .imgcontainer
{
    transform: scale(1.15);
}



body {
    background-color: #f5f5f5;
}


@media screen  and (min-width : 768px){
    section{
        padding: 1em 7em;
    }
    
}

@media screen  and (min-width : 992px){
    section{
        padding: 1em;
    }
    .card{
        padding: 5em 1em;
    }
    .column{
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 1em ;
    }
    
}